
.container
  .components
    .main-button
      .moon
      .moon
      .moon
    .daytime-backgrond
    .daytime-backgrond
    .daytime-backgrond
    .cloud
      .cloud-son
      .cloud-son
      .cloud-son
      .cloud-son
      .cloud-son
      .cloud-son
    .cloud-light
      .cloud-son
      .cloud-son
      .cloud-son
      .cloud-son
      .cloud-son
      .cloud-son
    .stars
      .star.big
        .star-son
        .star-son
        .star-son
        .star-son
      .star.big
        .star-son
        .star-son
        .star-son
        .star-son
      .star.medium
        .star-son
        .star-son
        .star-son
        .star-son
      .star.medium
        .star-son
        .star-son
        .star-son
        .star-son
      .star.small
        .star-son
        .star-son
        .star-son
        .star-son
      .star.small
        .star-son
        .star-son
        .star-son
        .star-son
